<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.datnt.dormitorymanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:label,android:theme,android:icon">
        <activity android:name=".Activity.RequestHistoryActivity"></activity>
        <activity android:name=".Activity.NewsDetailActivity" />
        <activity android:name=".Activity.SubmitMonthlyFeeActivity" />
        <activity android:name=".Activity.NotificationActivity" />
        <activity android:name=".Activity.PaymentHistoryActivity" />
        <activity android:name=".Activity.NewsActivity" />
        <activity android:name=".Activity.RoomDetailActivity" />
        <activity
            android:name=".Activity.UpdateProfileActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.CreateIssueActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.PaymentActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.CancelContractActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.RenewContractActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.TransferRoomActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.BookRoomActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.ProfileActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.HomeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>